body {
    /* color: white;
    background-image: url("https://cdn.dnaindia.com/sites/default/files/styles/full/public/2023/01/28/2569199-2538288-virat.jpg");
    background-position: right top; */
    text-align: center;

  }

  h1{
    height: 60px;
    width: 560px;
    padding-top: 9px;
    margin-left: 10px;
    text-align: center;
    background-color: aquamarine;
    outline-style: solid;
    outline-offset: 5px;
    vertical-align: center;
    text-decoration-line:underline;
    text-decoration-color:forestgreen ;
    text-decoration-style: double;
    text-decoration-thickness: 5px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }

  b.text{
    vertical-align: center;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  h1.place{
    text-transform: capitalize;
    text-indent: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

 

  p.profession{
    color: black;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 50px;
    border-top-style: dashed;
    border-bottom-style: solid;
    border-left-style: double;
    border-right-style:outset;
    border-width: 6px;
    border-color: blueviolet blue lightcoral darkorange;
    text-indent: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: medium;
  }

  table, th, td{
    align-items: center;
    border: 2px solid;
    width: 30%;
    margin-left: 400px;
    text-align: center;
  }

  h1 b{
    color: brown;
  }

  .dropdownbutton{
    background-color: blue;
    color: wheat;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor:grab;
    position: relative;
    display: inline-block;
  }

  .dropdown-menu{
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 145px;
  }

  .dropdown-menu a {
    color: black;
    padding: 11px 15px;
    text-decoration: none;
    display: block;
  }

  .dropdown-menu a:hover{
    background-color: white;
  }

  .dropdown:hover .dropdown-menu{
    display: block;
  }

  .dropdown:hover .dropdownbutton{
    background-color:black;
  }
  tr:hover{
    background-color: yellow;
  }
  .dropdown-menu{
    align-items: center;
    margin-left: 557px;
  }

  div[class="attributeSelectors"]{
    color: blueviolet;

  }